@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=Raleway:wght@400;700&display=swap');

@font-face {
    font-family: 'Raleway';
    src: url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');
}

body{
    display: flex;
    font-family: "Raleway", sans-serif;
}

h1 h2 h3 h4 h5 {
    font-family: "Lato", sans-serif;
}

div.container{
    margin:  -9px auto;
    width: 1160px;
    border-right: 1px solid;
    background-color: #782221;

}

 /* en-tête du CV */
header :not(address){
    display: flex;
    flex-direction: column;
    align-items: center ;
}
.profil-picture{
    margin: auto;
    width: 200px;
    height: 200px;
    margin-top: 60px;
    border-radius: 50%;
    box-shadow: 0 0 30px  rgb(4, 33, 66);
}

a{
    text-decoration: none;
    color: white;
}
address{
    display: flex;
    background-color: #2c1d27;
    height: 60px;
    justify-content:space-around;
    align-items: center;
}
.address{
    flex-basis: 200px;
}

/* body du CV */

main {
    display: flex;
    flex-wrap: wrap;
}

.experience, .diploma, .skill{
    background-color: white;
    padding: 1px 0 20px 40px;

}

/*Ordonner les 2 colonnes*/
.column-1 {
    flex: 1;
    min-width: 0;
    padding-top: 0;
    order: 2;
    flex-basis: 30%;
}

.column-2 {
    flex: 1;
    min-width: 0;
}


.diploma h4, .skill h4, .experience h4{
    display: flex;
    background: linear-gradient(to right, #782221 2%, #dbc2a4 2% );
    height: 30px;
    align-items: center;
    padding-left: 30px;
    margin-right: 20px;
    
}

.about h4, .language h4, .interest h4{
    display: flex;
    background-color: #dbc2a4;
    height: 30px;
    align-items: center;
    padding-left: 30px;
    margin-right: 35px;
    
}

.about p, .language ul, .interest ul{
    color: white;
}

.about p{
    padding-left: 30px;
    padding-right: 35px;
    text-indent: 30px;
    text-align: justify;
}

/* footer */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 

}

.update{
    color: white;
    padding-bottom: 20px;
}

footer i{
    padding: 20px;
    color: azure;
    font-size: 40px;
}

/* effets graphiques */

div section.experience:hover{
    height: 150px;
    display: block;
    position: relative;
    padding-right: 1%;
    border-right: 5px solid brown;

}
div section.diploma:hover{
    height: 150px;
    display: block;
    position: relative;
    padding-right: 1%;
    border-right: 5px solid brown;

}

img.profil-picture:hover{
    cursor: zoom-in;
}

div a i:hover{
    opacity: 0.80;
}

a:hover{
    text-decoration:underline;
}